<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abisayo.eNursing">

    <application
        android:allowBackup="true"
        android:icon="@drawable/e_nursing"
        android:label="@string/app_name"
        android:roundIcon="@drawable/e_nursing"
        android:supportsRtl="true"
        android:theme="@style/Theme.Computerize1">
        <activity
            android:name="com.abisayo.eNursing.AlgorithmExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmCharactActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmStepsActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmImportanceActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmSubtopicsActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.FlowchartExamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.FlowchartDisadvantagesActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.FlowchartAdvantagtesActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.WarActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.ReligionActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmTypesActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.HistoryNurseActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abisayo.eNursing.AlgoQuizActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.AlgorithmActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.Result"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.Quiz"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.Profile"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.Learn"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.TopicsActivity"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.CreateAccount"
            android:exported="false" />
        <activity
            android:name="com.abisayo.eNursing.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>